__pycache__/
*.py[cod]
.pytest_cache/
dist

# Environments
.env.dev

*.DS_Store

# Autogen
local_testing/customer_repo/

/.vscode

# VSCode
.vscode/*
.vscode/settings.json

integration_tests/ecommerce_transaction_interactions_features_1/*
test/auto_gen/customer_repo/

/.vscode

# VSCode
.vscode/*
.vscode/settings.json
