var:
    atomic_cols:
        app_id: true
        platform: false
        collector_tstamp: false
        dvce_created_tstamp: false
        dvce_sent_tstamp: false
        etl_tstamp: false
        os_timezone: false
        derived_tstamp: false
        true_tstamp: false
        load_tstamp: true
        event: false
        event_id: false
        txn_id: false
        event_fingerprint: false
        v_tracker: false
        v_collector: false
        v_etl: false
        name_tracker: false
        user_id: false
        domain_userid: false
        network_userid: false
        user_ipaddress: false
        domain_sessionidx: false
        domain_sessionid: false
        useragent: false
        dvce_type: false
        dvce_ismobile: false
        dvce_screenheight: false
        dvce_screenwidth: false
        os_name: false
        os_family: false
        os_manufacturer: false
        geo_country: false
        geo_region: false
        geo_city: false
        geo_zipcode: false
        geo_latitude: false
        geo_longitude: false
        geo_region_name: false
        geo_timezone: false
        ip_isp: false
        ip_organization: false
        ip_domain: false
        ip_netspeed: false
        event_vendor: false
        event_name: false
        event_format: false
        event_version: false
        mkt_medium: false
        mkt_source: false
        mkt_term: false
        mkt_content: false
        mkt_campaign: false
        mkt_clickid: false
        mkt_network: false
        page_url: false
        page_urlscheme: false
        page_urlhost: false
        page_urlport: false
        page_urlpath: false
        page_urlquery: false
        page_urlfragment: false
        page_referrer: false
        page_title: false
        refr_urlscheme: false
        refr_urlhost: false
        refr_urlport: false
        refr_urlpath: false
        refr_urlquery: false
        refr_urlfragment: false
        refr_medium: false
        refr_source: false
        refr_term: false
        refr_domain_userid: false
        refr_dvce_tstamp: false
        doc_charset: false
        doc_width: false
        doc_height: false
        user_fingerprint: false
        br_name: false
        br_version: false
        br_family: false
        br_type: false
        br_renderengine: false
        br_lang: false
        br_features_pdf: false
        br_features_flash: false
        br_features_java: false
        br_features_director: false
        br_features_quicktime: false
        br_features_realplayer: false
        br_features_windowsmedia: false
        br_features_gears: false
        br_features_silverlight: false
        br_cookies: false
        br_colordepth: false
        br_viewheight: false
        br_viewwidth: false
        pp_xoffset_min: false
        pp_xoffset_max: false
        pp_yoffset_min: false
        pp_yoffset_max: false
        tr_orderid: false
        tr_affiliation: false
        tr_total: false
        tr_tax: false
        tr_shipping: false
        tr_total_base: false
        tr_tax_base: false
        tr_shipping_base: false
        tr_city: false
        tr_state: false
        tr_country: false
        tr_currency: false
        ti_orderid: false
        ti_sku: false
        ti_name: false
        ti_category: false
        ti_price: false
        ti_price_base: false
        ti_quantity: false
        ti_currency: false
        base_currency: false
        se_category: false
        se_action: false
        se_label: false
        se_property: false
        se_value: false
    exclude_event_specs:
    {%- for column in model.event_column_list %} 
        {%- for property in column.column_details  %}
        {{column.column_alias}}_{{property.key}}: false
        {%- endfor %}
    {%- endfor %}
    {%- for column in model.context_column_list %} 
        {%- for property in column.column_details  %}
        {{column.column_alias}}_{{property.key}}: false
        {%- endfor %}
    {%- endfor %}
