    select
        event_id
        {%- for event in model.event_columns %}
        , {{ event }}
        {%- endfor %}
        {%- for property in model.event_specification_context.column_details  %}
        , {{ model.event_specification_context.column_name[:-4] }}[0]:{{ property.key }}::{{property.type}} as {{model.event_specification_context.column_alias}}_{{property.key}}
        {%- endfor %}
    {%- for column in model.event_column_list %} 
        {%- for property in column.column_details  %}
        {%- if column.column_alias+'_'+property.key not in model.excluded_event_specs %}
        , {{ column.column_name[:-4] }}:{{ property.key }}::{{property.type}} as {{column.column_alias}}_{{property.key}}
        {%- endif %}
        {%- endfor %}
    {%- endfor %}

    {%- for column in model.context_column_list %} 
        {%- for property in column.column_details  %}
        {%- if column.column_alias+'_'+property.key not in model.excluded_event_specs %}
        , {{ column.column_name[:-4] }}:{{ property.key }}::{{property.type}} as {{column.column_alias}}_{{property.key}}
        {%- endif %}
        {%- endfor %}
    {%- endfor %}
    from
        {% raw %}{{ ref('snowplow_autogen_base_events_this_run') }}{% endraw %},
    where 
        event_name in ('{{ model.event_names|join("','") }}')
    and event_specification_data_product_id = '{{model.id}}'
