| **Column Alias** | **Description** | **Type** | **Event** | **Column Name** |
|------------------|-----------------|----------|-----------|-----------------|

{%- for column in model.event_column_list %} 
    {%- for property in column.column_details  %}
| {{ column.column_alias }}_{{property.key}} | {{property.description}} | {{property.type}} | Y | {{ column.column_name }} |
    {%- endfor %}
{%- endfor %}
{%- for column in model.context_column_list %} 
    {%- for property in column.column_details  %}
| {{ column.column_alias }}_{{property.key}} | {{property.description}} | {{property.type}} | N | {{ column.column_name }} |
    {%- endfor %}
{%- endfor %}
