{% raw %}
{#
Copyright (c) 2025-present Snowplow Analytics Ltd. All rights reserved.
This program is licensed to you under the Snowplow Personal and Academic License Version 1.0,
and you may not use this file except in compliance with the Snowplow Personal and Academic License Version 1.0.
You may obtain a copy of the Snowplow Personal and Academic License Version 1.0 at https://docs.snowplow.io/personal-and-academic-license-1.0/
#}

{{
  config(
    materialized='table',
    dist=var('snowplow__entity_key', 'domain_userid'),
    partition_by = snowplow_utils.get_value_by_target_type(bigquery_val = {
      "field": "last_event_tstamp",
      "data_type": "timestamp"
    }, databricks_val='last_event_date'),
    sql_header=snowplow_utils.set_query_tag(var('snowplow__query_tag', 'snowplow_dbt')),
  )
}}

{%- set lower_limit, upper_limit = get_limits_for_attributes() %}

with  aggregations as (

  select 
    entity_key
    , min(1) --dummy value in case there are no aggregate values in the view definitions
{% endraw %}
    {% for attribute in lifetime_aggregates %}
      , {{ attribute['aggregation_type'] }}({{ attribute["daily_agg_column_name"] }}) as {{ attribute["column_name"] }}
    {% endfor %}
    {% for attribute in last_n_day_aggregates %}
      , {{ attribute['aggregation_type'] }}({% raw %}case when event_date >= {{dbt.dateadd('day', -{% endraw %}{{ attribute["period"] }}{% raw %}, upper_limit)}} then {% endraw %}{{ attribute["daily_agg_column_name"] }} end) as {{ attribute["column_name"] }}
    {% endfor %}

{% raw %}
  from {{ ref('{% endraw %}{{ project_name }}{% raw %}_daily_aggregates')}}

  group by 1
  
)
{% endraw %}

{% for attribute in unique_list_attributes %}
  {% if attribute['period'] is not none %}
    , filtered_data_{{ attribute['column_name'] }} as (
      select
          entity_key,
          {{ attribute['daily_agg_column_name'] }}{% raw %}
      from {{ ref('{% endraw %}{{ project_name }}{% raw %}_daily_aggregates')}}
      where event_date >= {{ dbt.dateadd('day', -{% endraw %}{{ attribute["period"] }}{% raw %}, upper_limit) }}
    ),
    {% endraw %}{{ attribute['column_name'] }}_flattened as (
      select
          d.entity_key,
          array_agg(distinct f.value::string) as {{ attribute['column_name'] }}{% raw %}
      from filtered_data_{% endraw %}{{ attribute['column_name'] }} d,
      LATERAL FLATTEN(input => {{ attribute['daily_agg_column_name'] }}) f
      group by d.entity_key
      
    )

  {% else %}

    , {{ attribute['column_name'] }}_flattened as (
      select
          d.entity_key,
          array_agg(distinct f.value::string) as {{ attribute['column_name'] }}{% raw %}
      from {{ ref('{% endraw %}{{ project_name }}{% raw %}_daily_aggregates')}} d,
      LATERAL FLATTEN(input => {% endraw %}{{ attribute['daily_agg_column_name'] }}) f
      group by d.entity_key
    )
  {% endif %}
{% endfor %}

{%- if first_value_attributes | length > 0 or last_value_attributes | length > 0 %}

, window_calculations as (
  
  select distinct
    entity_key
{% for attribute in first_value_attributes %}
  {% if attribute['period'] %}
    , first_value({{ attribute['daily_agg_column_name'] }}) over (
                partition by entity_key
                order by last_event_tstamp ASC
                ROWS BETWEEN {{ attribute['period'] }} PRECEDING AND CURRENT ROW
            ) as {{ attribute['column_name'] }}
  {% else %}
    , first_value({{ attribute['daily_agg_column_name'] }}) over (
                partition by entity_key
                order by last_event_tstamp ASC
            ) as {{ attribute['column_name'] }}
  {% endif %}
{% endfor %}
{% for attribute in last_value_attributes %}
  {% if attribute['period'] %}
    , last_value({{ attribute['daily_agg_column_name'] }}) over (
                partition by entity_key
                order by last_event_tstamp ASC
                ROWS BETWEEN {{ attribute['period'] }} PRECEDING AND CURRENT ROW
            ) as {{ attribute['column_name'] }}
  {% else %}
    , last_value({{ attribute['daily_agg_column_name'] }}) over (
                partition by entity_key
                order by last_event_tstamp ASC
            ) as {{ attribute['column_name'] }}
  {% endif %}
{% endfor %}
{% raw %}
  from {{ ref('{% endraw %}{{ project_name }}{% raw %}_daily_aggregates')}}{% endraw %}
  
)

{% endif %}

select
    
  a.entity_key as {{ entity_key }},
  {% raw %}{{ snowplow_utils.current_timestamp_in_utc() }} as valid_at_tstamp,
  cast({{ lower_limit }} as date) as lower_limit,
  cast({{ upper_limit }} as date) as upper_limit{% endraw %}
  {% for attribute in first_value_attributes %}
    , w.{{ attribute['column_name'] }} 
  {%- endfor %}

  -- time window based attributes
  {% for attribute in last_n_day_aggregates %}
    , {{ attribute['column_name'] }}
  {% endfor %}
    
  -- lifetime based attributes
  {% for attribute in lifetime_aggregates %}
    , {{ attribute['column_name'] }}
  {%- endfor %}

  -- user lasts
  {% for attribute in last_value_attributes %}
    , w.{{ attribute['column_name'] }}
  {%- endfor %}
  
  -- unique_list_attributes
  {% for attribute in unique_list_attributes %}
  , {{ attribute['column_name'] }}
  {%- endfor %}
from aggregations as a

{%- if first_value_attributes | length > 0 or last_value_attributes | length > 0 %}
left join window_calculations as w
on a.entity_key = w.entity_key
{% endif %}

{% for attribute in unique_list_attributes %}
  left join {{ attribute['column_name']}}_flattened as {{ attribute['column_name']}}_flattened
  on a.entity_key = {{ attribute['column_name']}}_flattened.entity_key
{% endfor %}
