{% raw %}
{#Copyright (c) 2025-present Snowplow Analytics Ltd. All rights reserved.
This program is licensed to you under the Snowplow Personal and Academic License Version 1.0,
and you may not use this file except in compliance with the Snowplow Personal and Academic License Version 1.0.
You may obtain a copy of the Snowplow Personal and Academic License Version 1.0 at https://docs.snowplow.io/personal-and-academic-license-1.0/
#}
{% macro check_timezone() %}
{% if target.type == 'snowflake' %}
    {% if execute %}
      {% set query %}
        SELECT CASE 
          WHEN TO_VARCHAR(CURRENT_TIMESTAMP(), 'YYYY-MM-DD HH24:MI:SS TZHTZM') = TO_VARCHAR(CONVERT_TIMEZONE('UTC', CURRENT_TIMESTAMP()), 'YYYY-MM-DD HH24:MI:SS TZHTZM')  THEN True
          ELSE False
          END AS validation_result,
          current_user() AS executed_by
      {% endset %}
      {% set results = run_query(query) %}
      {% set is_utc = results.columns[0].values()[0] %}
      {% set executed_by = results.columns[1].values()[0] %}
      {% if is_utc == False %}
        {{ exceptions.raise_compiler_error(
            "Snowplow Error: The current timestamp is not in UTC timezone. You can fix this by running: 
            ALTER USER " ~ executed_by ~ " SET TIMEZONE = 'UTC' You might need to wrap the username in double quotes if it contains special characters.
            Please contact your Snowflake account admin if you need assistance.
            Make sure you start a new session (if needed) after changing the timezone setting."
        )}}
      {% endif %}
    {% endif %}
{% endif %}
{% endmacro %}
{% endraw %}
