{% raw %}version: 2

sources:
  - name: atomic
    schema: "{{ var('snowplow__atomic_schema', 'atomic') }}"
    database: "{{ var('snowplow__database', target.database) if target.type not in ['databricks', 'spark'] else var('snowplow__databricks_catalog', 'hive_metastore') if target.type in ['databricks'] else var('snowplow__atomic_schema', 'atomic') }}"
    tables:
      - name: events
        identifier: "{{ var('snowplow__events_table', 'events') }}"
{% endraw %}
