name: dbt_test

on:
  workflow_call:

jobs:
  dbt_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install poetry
        uses: abatilo/actions-poetry@v3

      - name: Install dependencies
        run: poetry install 

      - name: Run tests
        run: poetry run pytest

      - name: Run test_dbt.sh
        run: ./test/auto_gen/test_dbt.sh
