name: Integration Tests

on: [pull_request, workflow_call]

env:
  # Set profiles.yml directory
  DBT_PROFILES_DIR: ./ci

  # Snowflake Connection
  # SNOWFLAKE_TEST_ACCOUNT: ${{ secrets.SNOWFLAKE_TEST_ACCOUNT }}
  # SNOWFLAKE_TEST_USER: ${{ secrets.SNOWFLAKE_TEST_USER }}
  # SNOWFLAKE_TEST_PASSWORD: ${{ secrets.SNOWFLAKE_TEST_PASSWORD }}
  # SNOWFLAKE_TEST_ROLE: ${{ secrets.SNOWFLAKE_TEST_ROLE }}
  # SNOWFLAKE_TEST_DATABASE: ${{ secrets.SNOWFLAKE_TEST_DATABASE }}
  # SNOWFLAKE_TEST_WAREHOUSE: ${{ secrets.SNOWFLAKE_TEST_WAREHOUSE }}
  PYTHON_VERSION: "3.12"

jobs:
  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dbt_version: ["1.*"]
        warehouse: ["snowflake"] # TODO: Add RS self-hosted runner

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: 'poetry'

      - name: Install Poetry
        uses: abatilo/actions-poetry@v3

      - name: Install dependencies
        run: poetry install --extras dbt

      - name: Configure warehouse environment
        run: |
          WAREHOUSE_PLATFORM=$(echo ${{ matrix.warehouse }} | cut -d'_' -f1)
          WAREHOUSE_SPECIFIC=$(echo ${{ matrix.warehouse }} | cut -s -d'_' -f2)
          echo "WAREHOUSE_PLATFORM=${WAREHOUSE_PLATFORM}" >> $GITHUB_ENV
          echo "WAREHOUSE_SPECIFIC=${WAREHOUSE_SPECIFIC}" >> $GITHUB_ENV
          echo "SCHEMA_SUFFIX=$(echo ${DBT_VERSION%.*} | tr . _)" >> $GITHUB_ENV
          echo "DEFAULT_TARGET=${{matrix.warehouse}}" >> $GITHUB_ENV
        env:
          DBT_VERSION: ${{ matrix.dbt_version }}

      - name: Generate test dbt project
        run: python integration_tests/replicate_files.py test/auto_gen/__snapshots__/generated_files.json integration_tests

      - name: Move integration_test in ecommerce_transaction_interactions_features_1
        run: mv integration_test ecommerce_transaction_interactions_features_1/integration_test
        working-directory: integration_tests

      - name: Install dbt and dependencies
        run: |
          pip install wheel setuptools
          pip install -Iv dbt-${{env.WAREHOUSE_PLATFORM}}==${{ matrix.dbt_version }} --upgrade
          dbt deps
        env:
          WAREHOUSE_PLATFORM: ${{ env.WAREHOUSE_PLATFORM }}
        working-directory: integration_tests/ecommerce_transaction_interactions_features_1/integration_test

      - name: Clean up before tests
        run: dbt run-operation post_ci_cleanup --target ${{matrix.warehouse}}
        working-directory: integration_tests/ecommerce_transaction_interactions_features_1/integration_test

      - name: Run integration tests
        run: bash .scripts/integration_test.sh -d ${{matrix.warehouse}}
        working-directory: integration_tests/ecommerce_transaction_interactions_features_1/integration_test

      - name: Clean up after tests
        run: dbt run-operation post_ci_cleanup --target ${{matrix.warehouse}}
        working-directory: integration_tests/ecommerce_transaction_interactions_features_1/integration_test